h1{
    text-align: center;
    size: 200px;
    color:hotpink;
    font-family:"Bubbler One", sans-serif; ;
    margin-top: 250px;
    }
.buttons{
    
    size: 50px;
    color: white;
    font-family: "Bubbler One", sans-serif;
    display: inline-block;
    margin: 30px;
    text-align: center;
    border: solid hotpink;
    padding: 10px;
    
    }
div {
    text-align: center;
}

body {
    background-color: lightpink;
}

p {
    background-color: lightpink;
}

